
$lighterGray: #f5f5f5;
$lightGray: #d3d3d3;
$mediumGray: #333333;
$darkBlue: #000333;
$blue: #06a9e1;
$white: #ffffff;
$black-color: #323538;
$red-color: #f2dede;
$green-color: #dff0d8;

$font-stack: Lato, sans-serif;
