
@import 'variables';

.message {
  position: relative;
  margin: 5px 0 20px 0;
  padding: 15px;
  text-align: center;

  p {
    margin: 0;
  }

  .dismiss-message {
    position: absolute;
    top: 20%;
    right: 20px;
    font-size: 21px;
    font-weight: 400;
    text-decoration: none;
  }
}

.message-success {
  background: $green;
  color: darken($green, 40%);   
}

.message-error {
  background: $red;
  color: darken($red, 40%);
}

.dismiss-message-success {
  color: darken($green, 10%);   
}

.dismiss-message-error {
  color: darken($red, 40%);   
}